@-webkit-keyframes fadein {
  from {
    opacity: 0;
    z-index: -100;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    z-index: -100;
  }
  to {
    opacity: 1;
  }
}

.menu h1 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.header .logo img {
  width: 50%;
}

.header a:visited {
  color: black;
}

.header .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 5%;
  font-size: 30px;
  width: 40px;
  height: 40px;
}

.header .arrow a:hover {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 2px 5px gray;
          box-shadow: inset 0px 2px 5px gray;
  height: 60px;
  color: #353535;
}

.position i {
  margin-right: 10px;
}

.position p {
  font-size: 20px;
  font-weight: bold;
}

.main {
  background: #f6f6f6;
  margin-bottom: 50px;
}

.main h2 {
  padding-top: 50px;
  margin-left: 5%;
}

ul {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 0;
}

ul i {
  margin-right: 10px;
  font-size: 10px;
}

ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

footer {
  background: #353535;
  color: white;
  padding-bottom: 20px;
}

footer img {
  padding: 20px 0 0 20px;
  width: 150px;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(312deg) brightness(101%) contrast(106%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(312deg) brightness(101%) contrast(106%);
}

.img_topside {
  height: 300px;
}

.img_topside img {
  width: 100%;
}

.head {
  width: 100%;
  font-size: 18px;
  background-color: #f6f6f6;
  padding: 20px 0 50px 0;
}

.head h1 {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
}

.head_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: auto;
  text-align: center;
}

.head p {
  margin-bottom: 40px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  left: 8%;
  top: 45px;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  font-weight: normal;
}

h2 {
  margin: 50px 0 30px 30px;
  font-size: 30px;
  font-weight: bold;
}

p {
  font-size: 20px;
  font-weight: lighter;
}

.btn {
  width: 70%;
  margin: auto;
  height: 50px;
  border-radius: 2em;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border-style: none;
  font-size: 18px;
}

.btn_nav {
  background: #f6f6f6;
  color: black;
  margin-bottom: 30px;
  width: 80%;
  height: 70px;
  border-radius: 1em;
}

.btn_nav i {
  position: absolute;
  left: 18%;
}

.btn_alt {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

button {
  font-size: 25px;
  font-weight: bold;
  -webkit-box-shadow: 2px 5px 10px #eaeaea;
          box-shadow: 2px 5px 10px #eaeaea;
  cursor: pointer;
}

button i {
  color: #353535;
}

button:hover {
  background-color: #f2eafb;
}

button:hover i {
  color: #9356dc;
}

.card {
  width: 90%;
  border-radius: 1em;
  margin: auto;
  background: white;
  height: 250px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 5px 10px #eaeaea;
          box-shadow: 2px 5px 10px #eaeaea;
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 75%;
  border-radius: 1em 1em 0 0;
}

.card a {
  text-decoration: none;
  color: black;
}

.card_botside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_botside_left {
  margin-left: 15px;
}

.card_botside_left h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
}

.card_botside_left p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon_heart {
  margin-right: 30px;
  margin-top: 20px;
  font-size: 25px;
}

.icon_heart .heart_full {
  display: none;
  color: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.icon_heart:hover .heart {
  display: none;
}

.icon_heart:hover .heart_full {
  display: block;
  color: #9356dc;
}

.menu {
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  position: relative;
  top: -50px;
  bottom: 0;
  padding: 0 20px 50px 20px;
}

.menu h1 {
  padding-top: 20px;
  padding-left: 10px;
  margin: 0;
}

.menu h4 {
  display: block;
  margin-left: 10px;
  padding-bottom: 3px;
  border-bottom: 3px #99e2d0 solid;
  width: 40px;
}

.menu_topside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_icon {
  padding: 30px 30px 0 0;
  font-size: 20px;
}

.menu_card {
  background-color: white;
  -webkit-box-shadow: 2px 5px 10px #eaeaea;
          box-shadow: 2px 5px 10px #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  margin: 10px auto;
  padding: 0 10px;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.menu_card_price {
  margin-top: 20px;
  font-weight: bold;
}

.menu h5 {
  margin: 5px;
  font-size: 18px;
}

.menu p {
  margin: 5px;
  font-size: 18px;
}

.menu .icon_heart {
  margin-top: 30px;
}
/*# sourceMappingURL=main.css.map */