.btn {
  width: 70%;
  margin: auto;
  height: 50px;
  border-radius: 2em;
  background: linear-gradient($color-secondary, $color-primary);
  color: white;
  border-style: none;
  font-size: 18px;
  &_nav {
    background: $color-lightgray;
    color: black;
    margin-bottom: 30px;
    width: 80%;
    height: 70px;
    border-radius: 1em;
    & i {
      position: absolute;
      left: 18%;
    }
  }
  &_alt {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}

button {
  font-size: 25px;
  font-weight: bold;
  @include box-shadow;
  cursor: pointer;
  & i {
    color: $color-darkgray;
  }
  &:hover {
    background-color: lighten($color: $color-primary, $amount: 35%);
    & i {
      color: $color-primary;
    }
  }
}
