.btn {
  width: 70%;
  margin: auto;
  height: 50px;
  border-radius: 2em;
  color: white;
  border-style: none;
  font-size: 18px;
  font-weight: bold;
  @include box-shadow;
  cursor: pointer;
  background: linear-gradient($color-secondary, $color-primary);
  &_nav {
    background: $color-lightgray;
    color: black;
    margin-bottom: 30px;
    width: 80%;
    height: 70px;
    border-radius: 1em;
    & i {
      position: absolute;
      left: 18%;
      color: $color-darkgray;
    }
    &:hover {
      background-color: lighten($color: $color-primary, $amount: 34%);
      & i {
        color: $color-primary;
      }
    }
  }
  &_alt {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  &_main {
    &:hover {
      background-color: lighten($color: $color-primary, $amount: 20%);
    }
  }
}
