.card {
  width: 90%;
  border-radius: 1em;
  margin: auto;
  background: white;
  height: 250px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  @include box-shadow;
  & img {
    object-fit: cover;
    width: 100%;
    height: 75%;
    border-radius: 1em 1em 0 0;
  }
  & a {
    text-decoration: none;
    color: black;
  }
  &_botside {
    display: flex;
    justify-content: space-between;
    &_left {
      margin-left: 15px;
      & h3 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 25px;
      }
      & p {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}

.icon_heart {
  margin-right: 30px;
  margin-top: 20px;
  font-size: 25px;
  .heart_full {
    display: none;
    color: white;
    transition-property: color;
    transition-duration: 2s;
    transition-timing-function: linear;
  }
  &:hover {
    .heart {
      display: none;
    }
    .heart_full {
      display: block;
      color: $color-primary;
    }
  }
}

.menu {
  border-radius: 30px 30px 0 0;
  background-color: $color-lightgray;
  position: relative;
  top: -50px;
  bottom: 0;
  padding: 0 20px 50px 20px;
  & h1 {
    padding-top: 20px;
    padding-left: 10px;
    margin: 0;
  }
  & h4 {
    display: block;
    margin-left: 10px;
    padding-bottom: 3px;
    border-bottom: 3px $color-tertiary solid;
    width: 40px;
  }
  &_topside {
    display: flex;
    justify-content: space-between;
  }
  &_icon {
    padding: 30px 30px 0 0;
    font-size: 20px;
  }
  &_card {
    background-color: white;
    @include box-shadow;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin: 10px auto;
    padding: 0 10px;
    animation: fadein 2s;
    &_price {
      margin-top: 20px;
      font-weight: bold;
    }
  }
  & h5 {
    margin: 5px;
    font-size: 18px;
  }
  & p {
    margin: 5px;
    font-size: 18px;
  }
  .icon_heart {
    margin-top: 30px;
  }
}
