.menu h1 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
    & img {
      width: 50%;
    }
  }
  a:visited {
    color: black;
  }
  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5%;
    font-size: 30px;
    width: 40px;
    height: 40px;
    a:hover {
      color: $color-primary;
    }
  }
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $color-mediumgray;
  box-shadow: inset 0px 2px 5px gray;
  height: 60px;
  color: $color-darkgray;
  & i {
    margin-right: 10px;
  }
  & p {
    font-size: 20px;
    font-weight: bold;
  }
}

.main {
  background: $color-lightgray;
  margin-bottom: 50px;
  & h2 {
    padding-top: 50px;
    margin-left: 5%;
  }
}

ul {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 0;
  @media screen and (min-width: 1024px) {
    display: flex;
    font-size: 18px;
  }
  & i {
    margin-right: 10px;
    font-size: 10px;
    @media screen and (min-width: 1024px) {
      font-size: 15px;
    }
  }
  & li {
    margin-bottom: 10px;
    @media screen and (min-width: 1024px) {
      margin: auto;
    }
    & a {
      text-decoration: none;
      color: white;
    }
  }
}

footer {
  background: $color-darkgray;
  color: white;
  padding-bottom: 20px;
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  & img {
    padding: 20px 0 0 20px;
    width: 150px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(312deg)
      brightness(101%) contrast(106%);
  }
}

.logo_footer {
  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: center;
  }
}

.img_topside {
  height: 300px;
  & img {
    object-fit: cover;
    width: 100%;
    height: 120%;
  }
}
